.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 10% 10%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#login-logout-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding-bottom: 20px;
}

#login-payload {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    font-size: 20px;
    overflow-wrap: break-word;
    word-break: break-all;
}